@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}
#content{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    flex-flow: row wrap;
    font-family: 'Poppins';
}
.picture{
    display: flex;
    background: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 30vw;
}
.logo{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;

    font-family: norse-bold;
    font-size: 15vh;
    color: aliceblue;

}
img{
    height: 20vh;
}
.inside-col{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.inside-col h3{
    padding: 2vw;
}
.form-area{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2vw;
}
.form-row{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
}
.right-content, .bottom-portion{
    background-color: #F5F5F5;
}
.right-content{
    font-weight: bold;
    padding: 2vw;
}
input{
    border: 1px solid grey;
    border-radius: 3%;
}
input:focus{
    border: 3px solid #555;
}
.bottom-portion{
    flex-direction: column;
    padding: 2vw;}